
#pageContainer {
width:800px;
margin:auto;
}

#boxContainer {
width: 500px;
margin-top: 70px;
margin-bottom: 30px;
}

#sliderContainer {
width: 300px;
height: 500px;
background-color: red;
float: right;
}

.slider {
	margin: 80px;
	background-color: blue;
}

#s1.ui-slider-range { background: #ef2929; }


.row {
width:500px;
height:100px;
}

.box {
width:100px;
height:100px;
background-color:orange;
display:inline;
float: left;
position:relative;
border-color:red;
margin-left: 0px;
margin-right: 0px;
}

#description {
height:30px;
font-size:23px;
font-family:campton-light;
margin-bottom: 100px;
}

/* ========== FONT ============= */

@font-face {
    font-family: campton-light;
    src: url('Campton-Light.otf');
}